// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status{
	border-bottom: solid 1px gray; 
	padding: 5px 0; 
}

.status p{
	margin: 4px 0; 
}

.statusname{
	
	font-family: 'Roboto', sans-serif;
	color: #DB0A5B; 
}

.statuspage{
	
	font-family: 'Roboto', sans-serif;
	color: #2ECC71; 
}
.status .disp{
	display:none; 
}

.status.hover{
	background: #F2F1EF; 
}
.status.hover .disp{
	display: inline; 
}

body{
	margin: 0px; 
	
	font-family: 'Roboto', sans-serif;

}
